body {
  font-family: "Roboto", sans-serif;
  }

.container {
  width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.hugetitle {
  background-color: #2E2F42;
  margin-top: 72px;
  flex-direction: column;
}

.page-title {
  font-family: "Roboto", sans-serif;
  background-color: #2E2F42;
  color: hsl(0, 100%, 100%);
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  
  box-sizing: border-box;
  margin-top: 188px;
  margin-right: 472px;
  margin-left: 472px;
  
  
}

.page-subtitle {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  line-height: 1.11;
  letter-spacing: 0.02em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  justify-content: center;
    }

.page-header {
  background-color: #FFFFF;
  color: #4D5AE5;
  font-size: 16px;
  font-weight: 700; 
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 25.5px;
    padding-bottom: 25.5px;
    padding-left: 156px;
  display: flex;
  flex-direction: row;
  

}


.page-header >a{
  font-family: "Railway", sans-serif;
  background-color: #FFFFF;
  color: #2e2f42;
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  
    }

.page-contacts {
  display: flex;
  flex-direction: row;
  padding-left: 332px;
  gap: 40px;
  justify-content: space-between;
  }

.page-contacts >a{
  font-family: "Roboto";
    background-color: #FFFFF;
    color: #434455;
    height: 24;
    width: 48;
    font-weight: 500;
    font-size: 16px;
    text-align: right;
    line-height: 1.5;
    letter-spacing: 0.02em;
  text-decoration: none;
  }

.site-nav {
  display: flex;
  flex-direction: row;
  display: flex;
  gap: 40px;
  padding-right: 76px;
  align-content: flex-start;
  }

.site-nav .link {
  font-family: "Roboto";
  background-color: #FFFFF;
  color: #434455;
  height: 24;
  width: 48;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
  }

.site-nav .link:hover, .site-nav .link:active
{
color: #404BBF;
  }

.page-contacts .link:hover,
.page-contacts .link:active {
  color: #404BBF;
}

li {
  list-style: none;  
}

.hugetitle {
display: flex;
box-sizing: border-box;
flex-direction: column;
align-content: center;
justify-content: center;

height: 600px;
}

.company-principles {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: 672;
  margin-bottom: 0;
  padding-right: 156px;
    gap: 24px;
  
}

.company-principles .sub-item {
  font-family: "Roboto";
  background-color: #FFFFF;
  color: inherit;
  font-size: 20px;
  font-weight: 500;
  text-align: :left;
  line-height: 1.2;
  letter-spacing: 0.02em;
  box-sizing: border-box;
  width: 264;
  height: 104;

  
  }


    .our-team {
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      padding-top: 72px;
      padding-left: 156px;
      gap: 24px;
      align-content: center;
      justify-content: center;
    }


.our-team .sub-item {
  font-family: "Roboto";
  background-color: #FFFFF;
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  text-align: : centre;
  line-height: 1.2;
  letter-spacing: 0.02em;
  box-sizing: border-box;
  margin-top: 32px;
}

.duty {
  
  background-color: #FFFFF;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  text-align: : centre;
  line-height: 1.5;
  letter-spacing: 0.02em;
  box-sizing: border-box;
  margin-top: 8px;
}

.sub-title {
  
  background-color: #FFFFF;
  color: #2E2F42;
  font-size: 36px;
  font-weight: bold;
  text-align: : centre;
  line-height: 1.11;
  letter-spacing: 0.02em;
}



.page-button {
  
  background-color: #4D5AE5;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: centre;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px white;
  cursor: pointer;
  box-sizing: border-box;
  width: 169px;
  height: 56px;
  margin-left: 636px;
  margin-top: 48px;
}

.page-button:hover {
  background-color: #404BBF;
}
.page-button:focus {
  background-color: #4D5AE5;
}

.portfolio >li .sub-item{
  
    background-color: #FFFFF;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    text-align: : centre;
    line-height: 1.2;
    letter-spacing: 0.02em;
}


footer {
  
  background-color: #2e2f42;
  color: #4D5AE5;
  font-size: 18px;
  text-align: justify;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-decoration: none;
  
}

footer > a {
  font-family: "Railway", sans-serif;
  background-color: #2e2f42;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-align: justify;
  line-height: 1.17;
  letter-spacing: 0.03em;
  }

footer .text{
  background-color: #2e2f42;
  color: white;
  font-size: 18px;
  font-weight: medium;
  text-align: justify;
  line-height: 1.17;
  letter-spacing: 0.03em;
  }

  