body {
  font-family: "Roboto", sans-serif;
  }

.container {
  width: 1440px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.hugetitle {
  background-color: #2E2F42;
  flex-direction: column;
}

.page-title {
  font-family: "Roboto", sans-serif;
  background-color: #2E2F42;
  color: hsl(0, 100%, 100%);
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  box-sizing: border-box;
  padding-top: 188px;
  padding-bottom: 48px;
  padding-right: 472px;
  padding-left: 472px;
  }

.page-subtitle {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  justify-content: center;
    }

.page-header {
  background-color: #FFFFF;
  color: #FFFFF;
  font-size: 16px;
  font-weight: 700; 
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 156px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.web-text {
  color: #4D5AE5;
}

.studio-link-header {
  font-family: "Railway", sans-serif;
  background-color: #FFFFF;
  color: #2e2f42;
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
      }

.page-contacts {
  display: flex;
  flex-direction: row;
  padding-left: 332px;
  gap: 40px;
  justify-content: space-between;
  }

.page-contacts >a{
  font-family: "Roboto";
    background-color: #FFFFF;
    color: #434455;
    height: 24;
    width: 48;
    font-weight: 500;
    font-size: 16px;
    text-align: right;
    line-height: 1.5;
    letter-spacing: 0.02em;
  text-decoration: none;
  }

.site-nav {
  display: flex;
  flex-direction: row;
  display: flex;
  gap: 40px;
  padding-right: 76px;
  align-content: flex-start;
  }

.site-nav .link {
  font-family: "Roboto";
  background-color: #FFFFF;
  color: #434455;
  height: 24;
  width: 48;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
  }

.site-nav .link:hover, .site-nav .link:active
{
color: #404BBF;
  }

.page-contacts .link:hover,
.page-contacts .link:active {
  color: #404BBF;
}

li {
  list-style: none;  
}

.hugetitle {
display: flex;
box-sizing: border-box;
flex-direction: column;
align-content: center;
justify-content: center;
align-items: center;
height: 600px;
}

.company-principles {
  display: flex;
  flex-direction: row;
  align-content: left;
  justify-content: center;
  margin-top: 672;
  margin-bottom: 0;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-right: 156px;
  padding-left: 156px;
  gap: 24px;
  
}

.company-principles .sub-item {
  font-family: "Roboto";
  background-color: #FFFFF;
  color: inherit;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  line-height: 1.2;
  letter-spacing: 0.02em;
  box-sizing: border-box;
  width: 264;
  height: 104;
  }


    .our-team {
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      padding-top: 72px;
      gap: 24px;
      text-align: center;
      align-content: center;
      justify-content: center;
      align-items: center;
      padding-top: 72px;
      padding-bottom: 120px;
    }


.our-team .sub-item {
  font-family: "Roboto";
  background-color: #FFFFF;
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  text-align: : center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  box-sizing: border-box;
  margin-top: 32px;
  align-content: center;
  justify-content: center;

}

.duty {
  
  background-color: #FFFFF;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  box-sizing: border-box;
  margin-top: 8px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.sub-title {
  
  background-color: #FFFFF;
  color: #2E2F42;
  font-size: 36px;
  font-weight: bold;
  text-align: : center;
  line-height: 1.11;
  letter-spacing: 0.02em;
}



.page-button {
  
  background-color: #4D5AE5;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px white;
  cursor: pointer;
  box-sizing: border-box;
  width: 169px;
  height: 56px;
  }

.page-button:hover {
  background-color: #404BBF;
}
.page-button:focus {
  background-color: #4D5AE5;
}

.portfolio {
display: flex;
flex-wrap: wrap;
gap: 48px 24px;
align-items: center;
padding-top: 120x;
padding-bottom: 120x;
align-content: center;
  }

.portfolio >li .sub-item{
  
    background-color: #FFFFF;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    align-content: center;
      
}


footer {
  
  background-color: #2e2f42;
  color: white;
  font-size: 18px;
  text-align: justify;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
  padding-right: 1020px;
  
}

.web-text {
color: #4D5AE5;
}

.studio-link {
  font-family: "Railway", sans-serif;
  background-color: #2e2f42;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-align: justify;
  line-height: 1.17;
  letter-spacing: 0.03em;
  }

footer .text{
  background-color: #2e2f42;
  color: white;
  font-size: 18px;
  font-weight: medium;
  text-align: left;
  line-height: 1.17;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  margin-bottom:100px;
  margin-top: 16px;
  }

  